CompositeServiceEnactment/src/META-INF/wsdl/localhost_8080/SemanticSCoService/SemanticSCoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.semanticsco/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.semanticsco/">

<xs:element name="coordinate" type="tns:coordinate"/>

<xs:element name="coordinateResponse" type="tns:coordinateResponse"/>

<xs:element name="startSession" type="tns:startSession"/>

<xs:element name="startSessionResponse" type="tns:startSessionResponse"/>

<xs:complexType name="coordinate">
<xs:sequence>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="interactionType" type="xs:string" minOccurs="0"/>
<xs:element name="interactionMessage" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="coordinateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startSession">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="startSessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>